<div class="grid grid-cols-1 gap-4 justify-items-center w-screen">
  <img class="rounded-full w-96 h-96" src="" alt="image description">
  <h1 class="flex text-5xl items-center font-extrabold">About</h1>
  <p class="text-lg">Here is some centered body text la la la</p>
</div>